@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A855F7; /* Purple-500 */
  --secondary: #FDE047; /* Yellow-300 */
  --background: #4C1D95; /* Purple-900 */
  --text-color: #FFFFFF; /* White */
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

/* Leaflet specific styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: var(--background) !important;
}

.leaflet-tile {
  filter: grayscale(0%) hue-rotate(220deg);
}

.leaflet-control-container .leaflet-control {
  background-color: var(--secondary); /* Yellow */
  border-radius: 8px;
  color: var(--primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Custom animations */
@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-20%);
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-slide-left {
  animation: slide-left 3s linear infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}
